<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="blog" />
<meta name="description" content="Blog Website" />

<title>Nornas - $titlePage </title>

<link rel="stylesheet" href="../csss/screen.css" />
<link rel="stylesheet" href="../csss/jquery.treeview.css" />
<link href="../csss/style.css" rel="stylesheet" type="text/css" />
<link href="../csss/style_markitup.css" rel="stylesheet" type="text/css" />
<link href="../csss/set.css" rel="stylesheet" type="text/css" />

<!-- Jquery -->

<link href="../csss/jquery-ui-1.8.4.custom.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../javascripts/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="../javascripts/jquery-ui-1.8.4.custom.min.js" ></script>
<script type="text/javascript" src="../javascripts/jquery.cookie.js" ></script>
<script type="text/javascript" src="../javascripts/jquery.treeview.js"></script>
<script type="text/javascript" src="../javascripts/jquery.markitup.js"></script>
<script type="text/javascript" src="../javascripts/set.js"></script>
<!-- /Jquery -->

<script type="text/javascript" src="../javascripts/utils.js" ></script>

$headElements 
$jsElements


</head>

<body>

<div id="templatemo_container">
  
  	#parse($path)
  	
  <div id="templatemo_footer">
           Copyright ©  Assembly.org 
  </div>
  
</div>	

<div class="hidden">
	<div id="oneValidatorError"> $messages.oneValidatorError </div>
	<div id="validatorErrors"> $messages.validatorErrors </div>
	<div id="validatorFormatDate"> $messages.validatorFormatDate </div>
	<div id="validatorFormatEmail"> $messages.validatorFormatEmail </div>
	<div id="dateFromat">$messages.dateFromat</div>
</div>
</body>
</html>